body {
	font-family:Comic Sans Ms;
}

#container {
	width: 100%;
}

header {
	padding: 20px;
	border-bottom: 2pt solid;
}

header h1 {
	font-family: "Comfortaa";
	text-align: center;
	line-height: 5px;

}

nav {
	border-bottom: 2pt solid;
}

.container  {
	background-color: #ccc000;
}

img {
	margin-top: 20px;
	border: 0;
}

table {
	text-align:center;
}

.main_menu {
	padding: 5px 0 10px 0;
	text-align: left;
	margin-left: 10px;
	line-height: 20px;
	border-bottom:;
}

.main_menu li {
	display: inline;
	padding: 0 10px 0 10px;
	font-size: 16px;

}

.main_menu a {
	text-decoration: ;
	color: blue;
	padding: 8px;
}

#wrapper {
	width: 100%
}

footer {
	border-top: 2pt solid;
}

footer h3 {
	text-align: center;
}







