body {
	font-family: "Oswald";
}

#lSeven {

	text-align: center;
	margin: auto;
	padding: 0px;
}

.header {
	font-family: 
	padding: px;
	font-size: 30px;
}

#inputWagerField {
	width: 40px;
	height: 20px;
	border: dotted;
	border-color: red;
	margin-left: 2px;
}

.snake-eyes {
	margin-left: 43.5%;
	margin-right: 43.5%;
	width:30%;
}

.dice {
	float: left;
	background: red;
	color: white;
	width: 20px;
	border: 2px solid black;
	padding: 15px 20px;
	position: ;
	text-align: center;
	font-size: 24px;
	margin: 5px;
}

button {
	background: red;
	font-weight: bold;
	font-size: 18px;
	width: 18%;
	height: 40px;
	margin: 10px;
	color: white;
	font-weight: bold;
}

#status {
	color: red;
}

#resultsTable {
	margin: auto;
}

.resultsCaption {
	text-decoration: underline;
	text-align: center;
	margin-top: 0px;
	color: black;
	font-size: 200%;	
}

th.resultsBet {
	background-color: red;
	color: white;
	text-align: center;
	padding: 5px 5px 15px 5px;
	font-size: small;
	font-weight: bold;
	border-width: 2px 2px 2px 2px;
	border: 2px solid;
	border-color: black;
	border-collapse: collapse;	
}

th.resultsOutput {
	background-color: red;
	color: white;
	text-align: center;
	padding: 5px 5px 15px 5px;
	font-size: small;
	font-weight: ;
	border-width: 2px 2px 2px 2px;
	border: 2px solid;
	border-color: black;
	border-collapse: collapse;
	width: 60px;	
}

td.resultsData {
	background-color: black;
	color: white;
	text-align: left;
	padding: 5px 5px 15px 5px;
	font-size: small;
	font-weight: bold; 
	border-width: 2px 2px 2px 2px;
	border-style: solid;
	border-color: black;
	border-collapse: collapse;	


}
td.outputData{
	background-color: black;
	color: white;
	text-align: center;
	padding: 5px 5px 15px 5px;
	font-size: small;
	font-weight: bold;
	border-width: 2px 2px 2px 2px;
	border-style: solid;
	border-color: black;
	border-collapse: collapse;	
}

