body {
	background-color: orange;
}

a {
	font-family: monospace;
	text-decoration: none;
	font-size: 20px;
	font-weight: none;
	color: white;
}

a:link {
	text-decoration: none;
}
 
a:visited: {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: white;
	background-color: lightblue;
	font-family: cursive;
}

a:active {
	font-weight: bold;
	text-decoration: none;
}

ul {
	/*color: white;*/
}

td {
	/*color: white;*/
	font-style: italic;
	background-color: chocolate;
}

#title {
	font-family: "Architects Daughter", cursive;
	margin-top: 25px;
	font-size: 25px;
	font-weight: bold;
}

#credits {
	text-align: center;
	margin-top: 20px;
	padding: 15px;
	font-family: "Architects Daughter", cursive;
	font-size: 25px;
	font-weight: bold;
}

h3 {
	color: white;
}

