body {
	background-color: orange;
}

a  {
	/*color: white;*/
}

 ul {
	/*color: white;*/
}

td, th {
	/*color: white;*/
}

#title {
	font-family: "Architects Daughter", cursive;
	margin-top: 25px;
    font-size: 25px;
	font-weight: bold;
}
#credits {
	text-align: center;
	margin-top: 20px;
	padding: 15px;
 	font-family: "Architects Daughter", cursive;
	font-size: 25px;
	font-weight: bold;
 }

h3 {
	color: white;
}

